body {
  background-color: lightgreen;
}

.header {
  Font-style: italic;
  text-align: center;
}

#Picture-of-Me {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #555;
}

.Schools {
  Font-style: italic
}