body {
  background-color: lightgreen;
}

.header {
  Font-style: italic;
  text-align: center;
}

#Picture-of-Me {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #555;
  padding: 1%;
}

.Schools {
  Font-style: italic
}

#Basketball {
  width: 20%;
  float: right;
  border: 4px solid #555;
}

#Class-of-2018 {
  width: 20%;
  float: right;
  border: 4px solid #555;
}